@using MoviePro.Models.Database
@model MovieCrew

<div class="media">
    <img src="@Model.Name" class="align-self-center mr-3" alt="...">
    <div class="media-body">
        <div class="row">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>
                            @Model.ImageUrl
                        </td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td>
                            @Model.Name
                        </td>
                    </tr>
                    <tr>
                        <td>Job:</td>
                        <td>
                            @Model.Job
                        </td>
                    </tr>
                    <tr>
                        <td>Department</td>
                        <td>
                            @Model.Department
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>